/*reset*/
html,body{
    width:100%;
    height:100%;
    overflow:hidden;
}
img{
    vertical-align:top;
    border:none;
}
a{
    -webkit-tap-highlight-color:rgba(0,0,0,0);
    -webkit-appearance: none;
    text-decoration:none;
}
body,a,img,div,h1,h2,h3,p{
    margin:0;
    padding:0;
}
body{
    background:url('../img/loading-bg.jpg') no-repeat center center;
    background-size:100% 100%;
    position:relative;
}
.loading-page{
    width:100%;
    height:100%;
    position:absolute;
}
/*reset结束*/



/*loading页开始*/
.pages-wrap{
   /* display:none;*/
    opacity:0;
    -webkit-transition:opacity 0.3s linear;
    transition:opacity 0.3s linear;
}

.loading-page{
    text-align:center;
    position:fixed;
    width:100%;
    height:100%;
    left:0;
    top:0;
    z-index:1000;
    background:url('../img/loading-bg.jpg') no-repeat center center;
}
.loadingImgBox{
    display:inline-block;
    margin-top:265px;
    position:relative;
}
.loading-mask{
    width:168px;
    height:210px;
    position:absolute;
    left:-0.4px;
    top:-28px;
    background:url('../img/loading-mask.jpg') no-repeat left top;
    -webkit-animation:loadingMask 2.5s linear  infinite ;
    animation:loadingMask 2.5s linear  infinite;
}
.process{
    position:absolute;
    right:26px;
    bottom:-4px;
    font-size:30px;
    font-weight:bold;
    line-height:28px;
}
/*loading页结束*/

.swiper-container,.swiper-wrapper,.swiper-slide{
    width:100%;
    height:100%;
}

/*page1*/
-webkit-@keyframes headerIn {
    60%{
        -webkit-transform:translateY(0);
        transform:translateY(0);
    }
    70%{
        -webkit-transform:translateY(-10px);
        transform:translateY(-10px);
    }
    80%{
        -webkit-transform:translateY(0);
        transform:translateY(0);
    }
    92%{
        -webkit-transform:translateY(-5px);
        transform:translateY(-5px);
    }
    100%{
        -webkit-transform:translateY(0);
        transform:translateY(0);
        opacity:1;
    }
}
@keyframes headerIn {
    60%{
        -webkit-transform:translateY(0);
        transform:translateY(0);
    }
    70%{
        -webkit-transform:translateY(-10px);
        transform:translateY(-10px);
    }
    80%{
        -webkit-transform:translateY(0);
        transform:translateY(0);
    }
    92%{
        -webkit-transform:translateY(-5px);
        transform:translateY(-5px);
    }
    100%{
        -webkit-transform:translateY(0);
        transform:translateY(0);
        opacity:1;
    }
}

-webkit-@keyframes nextBtnBounce{
    50%{
        -webkit-transform:translateY(-20px);
        transform:translateY(-20px);
    }
    100%{
        -webkit-transform:translateY(10px);
        transform:translateY(10px);
    }
}
@keyframes nextBtnBounce{
    50%{
        -webkit-transform:translateY(-20px);
        transform:translateY(-20px);
    }
    100%{
        -webkit-transform:translateY(10px);
        transform:translateY(10px);
    }
}

-webkit-@keyframes loadingMask{
    100%{
        height:0;
    }
}
@keyframes loadingMask{
    100%{
        height:0;
    }
}


.page1{
    background:#fff;
}

.p1-header{
    width:100%;
    height:300px;
    background:url('../img/p1-header-bg.jpg') no-repeat center center;
    position:absolute;
    left:0;
    top:0;
}
.logo-kunshang1,.logo-kunshang2{
    margin-left:20px;
    margin-top:22px;
}
.logo-kunshang2{
    margin-top:26px;
}
.logo-ifeng{
    float:right;
    margin-right:20px;
    margin-top:34px;
}


.p1-header-text{
    position:absolute;
    top:108px;
    left:50%;
    margin-left:-268px;
    z-index:2;
    opacity:0;
    -webkit-transform:translateY(-110px);
    transform:translateY(-110px);
}
.header-bounceIn{
    animation:headerIn 1s linear 0.6s;
    -webkit-animation-fill-mode:forwards;
    animation-fill-mode:forwards;
}

.p1-scenery{
    position:absolute;
    top:104px;
    z-index:1;
}
.p1-scenery-text{
    position:absolute;
    left:50%;
    margin-left:-211px;
    bottom:50px;
}

.p1-bottom{
    width:100%;
    height:200px;
    background:url('../img/p1-bottom-bg.jpg') no-repeat center center;
    position:absolute;
    left:0;
    bottom:0;
    z-index:0;
}

.p1-leftLine,.p1-rightLine {
    position: absolute;
    left: 0;
    top: 420px;
    z-index:4;
}
.p1-rightLine{
    left:auto;
    right:0;
    top:526px;
}

.pages-wrap .p1-next-btn {
    display:block;
    width:52px;
    height:40px;
    background:url('../img/down-nextBtn.png') no-repeat center center;
    position:absolute;
    left:50%;
    margin-left:-26px;
    top:auto;
    bottom:40px;

    -webkit-animation:nextBtnBounce 2s linear infinite alternate;
    animation:nextBtnBounce 2s linear infinite alternate;
    -webkit-animation-fill-mode:forwards;
    animation-fill-mode:forwards;
}

/*page1结束*/


/*page2开始*/
.page2{
    background-image:url(../img/p2-bg-center.png);
    background-position:0 300px;
    background-repeat:no-repeat;
    position:absolute;
}
.p2-header-text{
    margin:48px auto 0 auto;
}

.p2-videoBox{
    width:460px;
    height:276px;
    position:relative;
    margin:22px auto 0 auto;
    background:url('../img/p2-video-border.png') no-repeat center center;
    padding:17px;
    box-sizing:border-box;
}
.p2-video-pauseBtn{
    position:absolute;
    left:50%;
    top:50%;
    margin-left:-35px;
    margin-top:-35px;
}
.p2-videoBox span.waiting-text{
    font-size:28px;
    color:#fff;
    position:absolute;
    left:50%;
    top:50%;
    margin-left:-56px;
    margin-top:-14px;
}
.p2-videoBox .p2-video-prevBtn,.p2-videoBox .p2-video-nextBtn{
    width:30px;
    height:47px;
}
.p2-videoBox .p2-video-prevBtn{
    background:url('../img/p2-prev-btn-active.png') no-repeat center center;
    left:-56px;
    opacity:1;
}
.p2-videoBox .p2-video-nextBtn{
    background:url('../img/p2-next-btn-active.png') no-repeat center center;
    right:-56px;
    opacity:1;
}
.p2-videoBox .p2-video-prevBtn.swiper-button-disabled{
    background:url('../img/p2-prev-btn.png') no-repeat center center;
    opacity:1;
}
.p2-videoBox .p2-video-nextBtn.swiper-button-disabled{
    background:url('../img/p2-next-btn.png') no-repeat center center;
    opacity:1;
}


.p2-photo-box{
    width:617px;
    height:469px;
    background:url('../img/p2-photo-bg.png') no-repeat center center;
    position:relative;
    margin:20px auto 0 auto;
    padding-top:68px;
    box-sizing:border-box;
}
.p2-photo-box .p2-photo{
    width:485px;
    height:340px;
    margin:0 auto;
    position:relative;
}
.p2-photo-box .p2-photo-mask{
    width:100%;
    height:60px;
    left:0;
    position:absolute;
    bottom:0;
    background:rgba(12,24,15,0.2);
    line-height:60px;
    font-size:28px;
    text-align:center;
    color:#fff;
}

/*p2弹出层*/
.p2-pop-box{
    position:fixed;
    left:0;
    top:0;
    width:100%;
    height:100%;
    background:rgba(24,24,24,0.9);
    z-index:100;
    overflow-y:auto;
    display:none;
    overflow-x:hidden;
}
.p2-pop-box .title{
    height:16px;
}
.swiper-container-p2-pop .p2-pop-prevBtn,.swiper-container-p2-pop .p2-pop-nextBtn{
    display:block;
    width:30px;
    height:47px;
    opacity:1;
    /*top:268px;*/
}
.p2-pop-box .p2-pop-prevBtn{
    background:url('../img/p2-prev-btn-active.png') no-repeat center center;
}
.p2-pop-box .p2-pop-prevBtn.swiper-button-disabled{
    background:url('../img/p2-prev-btn.png') no-repeat center center;
    opacity:1;
}
.p2-pop-box .p2-pop-nextBtn{
    background:url('../img/p2-next-btn-active.png') no-repeat center center;
}
.p2-pop-box .p2-pop-nextBtn.swiper-button-disabled{
    background:url('../img/p2-next-btn.png') no-repeat center center;
    opacity:1;
}
.swiper-container-p2-pop{
    width:100%;
    height:100%;
}
.p2-pop-box .pop2-imgBox{
    width:100%;
    height:357px;
    position:absolute;
    text-align:right;
    top:50%;
    margin-top:-178.5px;
}
.pop2-imgBox img{
    position:absolute;
    left:50%;
    top:50%;
    margin-left:-320px;
    margin-top:-220px;
    width:100%;
}

/*page2结束*/

/*page3开始*/

.p3-header-text{
    margin:40px auto 0 auto;
}

.page3 .nav-bar{
    width:600px;
    height:145px;
    margin:22px auto 0 auto;
}
.page3 .nav-bar a{
    display:block;
    float:left;
    width:150px;
    height:140px;
    background:url('../img/p3-pagenationBg.png') no-repeat center center;
    color:#fff;
    font-size:28px;
    text-align:center;
    line-height:38px;
    padding-top:32px;
    box-sizing:border-box;
}
.page3 .nav-bar a.active{
    background:url('../img/p3-pagenationBg-active.png') no-repeat center center;
}
.p3-photoSw-box{
    margin:22px auto 0 auto;
    width:560px;
    height:559px;
    background:url('../img/p3-swiperPhotoBox-bg.png') no-repeat center center;
    box-sizing:border-box;
    padding:27px 25px 22px 25px;
    position:relative;
}
.p3-swipers{
    overflow:hidden;
    display:none;
    position:absolute;
    width:510px;
    height:100%;
    left:50%;
    margin-left:-255px;
    top:27px;
}
.p3-swipers .swiper-wrapper{
    position:absolute;
}
.swiper-container-p3-1{
    display:block;
}
.p3-imgBox img{
    width:100%;
    height:100%;
    border-radius:8px;
}
.p3-swipers p{
    font-size:28px;
    line-height:48px;
    color:#535353;
    margin-top:15px;
    letter-spacing:1px;
}

.p3-swipers.last .swiper-wrapper{
    height:358px;
}
.p3-swipers.last p{
    margin-top:363px;
}

.p3-swipers .p3-pop-btn{
    color:#cc0011;
}

.page3 .p3-imgBox{
    width:510px;
    height:350px;
    margin:0 auto;
    position:relative;
    text-align:center;
}
.page3 .p3-imgBox img{
    position:absolute;
    left:0;
    top:0;
}
.page3  .p3-imgBox .scenery-name{
    height:61px;
    background:url('../img/red-btn-bg-middle.png') repeat-x center center;
    position:relative;
    font-size:36px;
    color:#fff;
    line-height:61px;
    text-align:center;
    display:inline-block;
    margin-top:270px;
    padding:0 20px;
}
.p3-imgBox .scenery-name span{
    display:inline-block;
    width:22px;
}
.p3-imgBox .scenery-name:before{
    content:'';
    width:66px;
    height:61px;
    position:absolute;
    left:-66px;
    top:0;
    background:url('../img/red-btn-bg-left.png') no-repeat center center;
}
.p3-imgBox .scenery-name:after{
    content:'';
    width:66px;
    height:61px;
    position:absolute;
    right:-66px;
    top:0;
    background:url('../img/red-btn-bg-right.png') no-repeat center center;
}



.p3-preNextBox{
    width:254px;
    height:40px;
    margin:30px auto 0 auto;
    background:url('../img/p3-bottom-line.png') no-repeat center center;
}
.p3-preNextBox .p3-prev-btn,.p3-preNextBox .p3-next-btn{
    opacity:1;
    display:block;
    position:relative;
    width:30px;
    height:40px;
}
.p3-preNextBox .p3-prev-btn{
    background:url('../img/p2-prev-btn-active.png') no-repeat center center;
    background-size:100% 100%;
    float:left;
}
.p3-preNextBox .p3-prev-btn.swiper-button-disabled{
    background:url('../img/p2-prev-btn.png') no-repeat center center;
    background-size:100% 100%;
    float:left;
}
.p3-preNextBox .p3-next-btn{
    background:url('../img/p2-next-btn-active.png') no-repeat center center;
    background-size:100% 100%;
    float:right;
}
.p3-preNextBox .p3-next-btn.swiper-button-disabled{
    background:url('../img/p2-next-btn.png') no-repeat center center;
    background-size:100% 100%;
    float:right;
}



.p3-pop-item{
    position:fixed;
    left:0;
    top:0;
    width:100%;
    height:100%;
    background:rgba(24,24,24,0.9);
    z-index:100;
    overflow-y:auto;
    display:none;
    overflow-x:hidden;
}
.wrap{
    width:100%;
    overflow:hidden;
}
 .p3-pop-header{
    width:100%;
    height:510px;
    background:url('../img/p3-pop-imgBg.png') no-repeat center bottom;
    box-sizing:border-box;
    overflow:hidden;
}
 .headerImgBox{
    width:550px;
    height:357px;
    overflow:hidden;
    margin:89px auto 0 auto;
}
 .headerImgBox img{
    border-radius:8px;
}
 .title{
    width:100%;
    height:78px;
    background:url('../img/p3-pop-lineBg.png') no-repeat center bottom;
}
 .title h1{
    font-size:44px;
    color:#fff;
    text-align:center;
    line-height:44px;
    font-weight:bold;
}

 .pop-content{
    position:relative;
    font-size:28px;
    line-height:48px;
    color:#fff;
    padding:0 45px;
    box-sizing:border-box;
}
.pop-content p{
    margin:28px auto;
}

.pop-close-btn{
    display:block;
    margin:32px auto 120px auto;
    width:185px;
    height:46px;
    background:url('../img/pop-closeBtn-bg.png') no-repeat center center;
    text-align:center;
    line-height:46px;
    font-size:28px;
    font-weight:bold;
    color:#fff;
}

.pop2-close-btn{
    position:absolute;
    left:50%;
    margin-left:-92px;
    bottom:100px;
    z-index:100;
}
    /*page3结束*/


/*page4开始*/

.page4{
    background:url('../img/p4-bottom-bg.png') no-repeat center bottom;
}

.p4-header-text{
    width:100%;
    height:164px;
    background:url('../img/p4-header-bg.png') no-repeat center center;
    text-align:center;
    position:relative;
}
.p4-header-text img{
    position:absolute;
    left:50%;
    margin-left:-300px;
    bottom:0;
}

.p4-video-box{
    width:600px;
    height:357px;
    background:url('../img/p4-video-boxBorder.png') no-repeat center center;
    margin:22px auto 0 auto;
    position:relative;
    box-sizing:border-box;
    padding:22px;
}
.p4-changeVideoPoster{
    width:100%;
    height:100%;
}
.p4-video-play-btn{
    width:80px;
    height:80px;
    position:absolute;
    left:50%;
    margin-left:-40px;
    top:50%;
    margin-top:-40px;
}

/*page4结束*/
.p4-pagination-top,.p4-pagination-bottom{
    margin:20px auto 0 auto;
    display:-webkit-box;
    display:flex;
    -webkit-box-pack:justify;
    justify-content:space-between;
    height:47px;
}
.p4-pagination-top{
    width:600px;
}
.p4-pagination-bottom{
    width:408px;
}
.p4-pagination-top a,.p4-pagination-bottom a{
    display:block;
    width:185px;
    height:47px;
    -webkit-flex:1;
    flex-grow:1;
    background:url('../img/p4-btn.png') no-repeat center center;
    font-size:28px;
    line-height:47PX;
    color:#fff;
    text-align:center;
}
.p4-pagination .p4Btn-active{
    background:url('../img/p4-btn-active.png') no-repeat center center;
}

/*视屏播放*/
.video-box{
    position:absolute;
    left:0;top:0;
    z-index:10;
}
.video-component{
    display:none;
}



/*进官网大图*/
.to-official-website{
    width:600px;
    height:200px;
    margin:45px auto 0 auto;
}



















